@import '../../style/base/mixins';
@import '../../style/base/variables';

.promo {
    min-height: 100vh;
    position: relative;
    background: url('https://static.vecteezy.com/system/resources/previews/017/294/130/original/continuous-one-line-drawing-happy-girl-kid-programmer-showing-programming-code-the-laptop-on-her-hand-programming-code-concept-single-line-draw-design-graphic-illustration-vector.jpg') no-repeat 50%/contain;
    background-position: top 0px left 460px;
    padding-top: 105px;
    padding-bottom: 100px;
    box-shadow: 0px 5px 5px rgb(225, 223, 223);
    .container{
        position: relative;
    }
    &__title {
        width: 550px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(256,256,256,0.75);
    }
}